@model igoryen.ViewModels.VM_Error
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>


<dl class="dl-horizontal" style="color:red; font-family:Consolas">
    @foreach (var item in Model.ErrorMessages) {
        <dt>
            @item.Key
        </dt>
        <dd>
            @item.Value
        </dd>
    }

</dl>