@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>INT422 project - Igor Entaltsev</h2>
    <h5><b>Admin:</b> Igor - <b>Faculties:</b> Peter, Adam, Ron, Bill - <b>Students:</b> Bob, Mary, Wei, John, Jack, Jill</h5> 
    <h3><b>Password:</b> <code>123456</code> for everyone</h3>

    <table border="1" cellspacing="0" cellpadding="3" style="font-size:small">
        <tbody>
            <tr><td>CourseId</td><td>CourseCode</td><td>faculty</td><td></td><td>Bob</td><td>Mary</td><td>Wei</td><td>John</td><td>Jack</td><td>Jill</td></tr>
            <tr><td>1</td><td>IPC144</td><td>Peter</td><td></td><td>#</td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>2</td><td>ULI101</td><td></td><td></td><td></td><td>#</td><td></td><td></td><td></td><td></td></tr>
            <tr><td>3</td><td>IOS110</td><td></td><td></td><td></td><td></td><td>#</td><td></td><td></td><td></td></tr>
            <tr><td>4</td><td>OOP244</td><td></td><td></td><td>#</td><td></td><td></td><td>#</td><td></td><td></td></tr>
            <tr><td>5</td><td>INT222</td><td>Adam</td><td></td><td></td><td>#</td><td></td><td></td><td>#</td><td></td></tr>
            <tr><td>6</td><td>IBC233</td><td></td><td></td><td></td><td></td><td>#</td><td></td><td></td><td>#</td></tr>
            <tr><td>7</td><td>DBS201</td><td></td><td></td><td>#</td><td></td><td></td><td>#</td><td></td><td></td></tr>
            <tr><td>8</td><td>OOP344</td><td></td><td></td><td></td><td>#</td><td></td><td></td><td>#</td><td></td></tr>
            <tr><td>9</td><td>INT322</td><td>Ron</td><td></td><td></td><td></td><td>#</td><td></td><td></td><td>#</td></tr>
            <tr><td>10</td><td>DBS301</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>#</td></tr>
            <tr><td>11</td><td>JAC444</td><td></td><td></td><td>#</td><td></td><td></td><td>#</td><td>#</td><td></td></tr>
            <tr><td>12</td><td>INT422</td><td></td><td></td><td>#</td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>13</td><td>DCN455</td><td>Bill</td><td></td><td></td><td>#</td><td></td><td></td><td></td><td></td></tr>
            <tr><td>14</td><td>BAC344</td><td></td><td></td><td></td><td>#</td><td></td><td></td><td>#</td><td></td></tr>
            <tr><td>15</td><td>MAP524</td><td></td><td></td><td></td><td></td><td>#</td><td></td><td></td><td>#</td></tr>
            <tr><td>16</td><td>WIN210</td><td></td><td></td><td></td><td></td><td></td><td>#</td><td></td><td></td></tr>
        </tbody>
    </table>
        
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        
        <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        You can easily find a web hosting company that offers the right mix of features and price for your applications.
        <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
    </div>
</div>